@page
@model global::Airport.Pages.Airport.AirportLoungeModel
@{
    this.ViewData["Title"] = "AirportLounge";
}
<h2>@(this.ViewData["Title"]).</h2>
<h3>You're in the airport lounge!</h3>

<p>
    Congratulations!
</p>