@page "{id}"
@model ViewToDoModel
@{
    this.ViewData["Title"] = "View To-Do";
}

<p>
    @if (this.Model.Item.IsComplete)
    {
        <strong>This task is complete!</strong>
    }
    else
    {
        <partial name="_ToDo" model="this.Model.Item" />
    }
</p>
