@page "/{currencyIn}/{currencyOut}"
@model SimpleCurrencyConverterBindings.Pages.ConvertModel
@{
    this.ViewData["Title"] = "Convert Currency";
}

<h1>Currency results</h1>

<p>@(this.Model.Values)</p>