@page
@model IndexModel
@{
    this.ViewData["Title"] = "Home page";
}


<h4>SingleValue</h4>
<p>@(this.Model.Values.SingleValue)</p>

<h4>Multiple values</h4>
<ul>
    @foreach (var item in this.Model.Values.List)
    {
        <li>@item</li>
    }
</ul>