html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#registerForm input,
#account input,
#profile-form input,
#email-form input,
#change-password-form input {
    margin-bottom: 20px;
}