html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#registerForm input,
#account input,
#profile-form input,
#email-form input,
#change-password-form input {
    margin-bottom: 20px;
}

/*----------------------------------Car Details CSS-------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@800&display=swap');

.car-details {
    margin: 20px auto;
    max-width: 1000px;
    background-color: white;
    padding: 0
}

.car-details .form-control {
    height: 25px;
    width: 150px;
    border: none;
    border-radius: 0;
    font-weight: 800;
    padding: 0 0 5px 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    margin: 0;
    font-size: 14px
}

.car-details .form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent
}

.car-details .form-control2 {
    font-size: 14px;
    height: 20px;
    width: 55px;
    border: none;
    border-radius: 0;
    font-weight: 800;
    padding: 0 0 5px 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    margin: 0
}

.car-details .form-control2:focus {
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent
}

.car-details .form-control3 {
    font-size: 14px;
    height: 20px;
    width: 30px;
    border: none;
    border-radius: 0;
    font-weight: 800;
    padding: 0 0 5px 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    margin: 0
}

.car-details .form-control3:focus {
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent
}

.car-details p {
    margin: 0
}

.car-details img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding: 0;
}

.car-details .text-muted {
    font-size: 10px
}

.car-details .textmuted {
    color: #6c757d;
    font-size: 13px
}

.car-details .fs-14 {
    font-size: 14px
}

.btn-rent {
    width: 100%;
    height: 55px;
    border-radius: 0;
    padding: 13px 0;
    border: none;
    font-weight: 600
}

.car-details .btn.btn-primary:hover .fas {
    transform: translateX(10px);
    transition: transform 0.5s ease
}

.car-details .fw-900 {
    font-weight: 900
}

.car-details ::placeholder {
    font-size: 12px
}

.car-details .ps-30 {
    padding-left: 30px
}

.car-details .h4 {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 800 !important
}

.car-details .textmuted,
.car-details h5,
.car-details .text-muted {
    font-family: 'Poppins', sans-serif
}
