@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (this.SignInManager.IsSignedIn(this.User))
{
    <h5><i>Current user's claims:</i></h5>
    <dl>
        @foreach (var claim in this.User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>
}
else
{
    <p><i>Not currently logged in</i></p>
}
