@page
@model IndexModel
@{
    this.ViewData["Title"] = "Home page";
}
<ul>
    @foreach (var (key, product) in this.Model.Products)
    {
        <li><a asp-page="EditProduct" asp-route-id="@key" >@product.ProductName (price: @product.SellPrice, qty: @product.QuantityInStock)</a></li>
    }
</ul>