@{
    this.Layout = "_Layout";
}
<div class="row">
    <div class="col-sm-8">
        @(this.RenderBody())
    </div>
    <div class="col-sm-4">
        @(this.RenderSection("Sidebar", required: true))
    </div>
</div>
