@page "{number}"
@model ExampleCalculatorBinding.Pages.CalculateSquareModel
@{
    this.ViewData["Title"] = "CalculateSquare";
}

<h1>Calculating squares</h1>

<p>The square of @(this.Model.Input) is @(this.Model.Square)</p>

